<%= form_for(:session, url: login_path, :html => {:class => 'login-form'}) do |f| %>
    <h3 class="form-title">Sign In</h3>
    <div class="alert alert-danger display-hide">
      <button class="close" data-close="alert"></button>
			<span>
			Enter any username and password. </span>
    </div>
    <div class="form-group">
      <%= f.label :username, class: 'control-label visible-ie8 visible-ie9' %>
      <%= f.text_field :username, class: 'form-control form-control-solid placeholder-no-fix', autocomplete: 'off', placeholder: 'Username' %>
    </div>

    <div class="form-group">
      <%= f.label :password, class: 'control-label visible-ie8 visible-ie9' %>
      <%= f.password_field :password, class: 'form-control form-control-solid placeholder-no-fix', autocomplete: 'off', placeholder: 'Password' %>
    </div>

    <div class="form-actions">
      <%= f.button "Login", class: 'btn btn-success uppercase', type: 'submit' %>
      <label class="rememberme check">
        <input type="checkbox" name="remember" value="1"/>Remember </label>
      <a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>
    </div>

    <div class="login-options">
      <h4>Or login with</h4>
      <ul class="social-icons">
        <li>
          <a class="social-icon-color facebook" data-original-title="facebook" href="javascript:;"></a>
        </li>
        <li>
          <a class="social-icon-color twitter" data-original-title="Twitter" href="javascript:;"></a>
        </li>
        <li>
          <a class="social-icon-color googleplus" data-original-title="Goole Plus" href="javascript:;"></a>
        </li>
        <li>
          <a class="social-icon-color linkedin" data-original-title="Linkedin" href="javascript:;"></a>
        </li>
      </ul>
    </div>
    <div class="create-account">
      <p>
        <a href="javascript:;" id="register-btn" class="uppercase">Create an account</a>
      </p>
    </div>

<% end %>

<%= form_for(:forget, url: '#', :html => {:class => 'forget-form'}) do |f| %>
    <h3>Forget Password ?</h3>
    <p>
      Enter your e-mail address below to reset your password.
    </p>
    <div class="form-group">
      <%= f.text_field :email, class: 'form-control placeholder-no-fix', autocomplete: 'off', placeholder: 'Email' %>
    </div>
    <div class="form-actions">
      <%= f.button "Back", class: 'btn btn-default', type: 'button', id: 'back-btn' %>
      <%= f.button "Submit", class: 'btn btn-success uppercase pull-right', type: 'submit' %>
    </div>
<% end %>

<!-- BEGIN REGISTRATION FORM -->

<%= form_for(:register, url: '#', :html => {:class => 'register-form'}) do |f| %>
    <h3>Sign Up</h3>
    <p class="hint">
      Enter your personal details below:
    </p>
    <div class="form-group">
      <%= f.label :full_name, class: 'control-label visible-ie8 visible-ie9' %>
      <%= f.text_field :full_name, class: 'form-control placeholder-no-fix', placeholder: 'Full Name' %>
    </div>
    <div class="form-group">
      <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
      <%= f.label :email, class: 'control-label visible-ie8 visible-ie9' %>
      <%= f.text_field :email, class: 'form-control placeholder-no-fix', placeholder: 'Email' %>
    </div>
    <p class="hint">
      Enter your account details below:
    </p>
    <div class="form-group">
      <%= f.label :username, class: 'control-label visible-ie8 visible-ie9' %>
      <%= f.text_field :username, class: 'form-control placeholder-no-fix', autocomplete: 'off', placeholder: 'Username' %>
    </div>
    <div class="form-group">
      <%= f.label :register_password, class: 'control-label visible-ie8 visible-ie9' %>
      <%= f.password_field :register_password, class: 'form-control placeholder-no-fix', autocomplete: 'off', placeholder: 'Password' %>
    </div>
    <div class="form-group">
      <%= f.label :rpassword, class: 'control-label visible-ie8 visible-ie9' %>
      <%= f.password_field :rpassword, class: 'form-control placeholder-no-fix', autocomplete: 'off', placeholder: 'Re-type Your Password' %>
    </div>
    <div class="form-actions">
      <%= f.button "Back", class: 'btn btn-default', type: 'button', id: 'register-back-btn' %>
      <%= f.button "Submit", class: 'btn btn-success uppercase pull-right', type: 'submit' %>
    </div>
<% end %>

<!-- END REGISTRATION FORM -->
