<%= form_for(@user, url: password_reset_path(params[:id]), :html => {:class => 'login-form'}) do |f| %>

    <h3 class="form-title">Reset Password</h3>

    <%= render 'shared/error_messages' %>

    <%= hidden_field_tag :email, @user.email %>

    <div class="form-group">
      <%= f.label :password, class: 'control-label visible-ie8 visible-ie9' %>
      <%= f.password_field :password,
                           class: 'form-control form-control-solid placeholder-no-fix',
                           autocomplete: 'off',
                           placeholder: 'Password' %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, class: 'control-label visible-ie8 visible-ie9' %>
      <%= f.password_field :password_confirmation,
                           class: 'form-control form-control-solid placeholder-no-fix',
                           autocomplete: 'off',
                           placeholder: 'Password Confirmation' %>
    </div>

    <div class="form-actions">
      <%= f.button "Update Password", class: 'btn btn-success uppercase', type: 'submit' %>
    </div>

<% end %>