<%= render 'shared/error_messages' %>

<div class="form-group form-md-line-input form-md-floating-label">
  <%= f.text_field :name, class: "form-control #{'edited' unless :name.empty?}" %>
  <%= f.label :name %>
</div>

<div class="form-group form-md-line-input form-md-floating-label">
  <%= f.email_field :email, class: "form-control #{'edited' unless :email.empty?}" %>
  <%= f.label :email %>
</div>

<div class="form-group form-md-line-input form-md-floating-label">
  <%= f.text_field :username, class: "form-control #{'edited' unless :username.empty?}" %>
  <%= f.label :username %>
</div>

<div class="form-group form-md-line-input form-md-floating-label">
  <%= f.password_field :password, class: 'form-control' %>
  <%= f.label :password %>
</div>

<div class="form-group form-md-line-input form-md-floating-label">
  <%= f.password_field :password_confirmation, class: 'form-control' %>
  <%= f.label :password_confirmation, "Confirmation" %>
</div>