<div class="form-group form-md-line-input">
  <%= f.label "Date", class:"col-md-2 control-label", for: "todaysDate" %>
  <div class="col-md-10">
    <p><%= Date.today %></p>
  </div>
</div>

<div class="form-group form-md-line-input">
  <%= f.label "Start Date", class:"col-md-2 control-label", for: :request_start_date %>
  <div class="col-md-10">
    <%= f.date_field :request_start_date,
                    class: "form-control",
                    :validate => true
    %>
  </div>
</div>

<div class="form-group form-md-line-input">
  <%= f.label "Return Date", class:"col-md-2 control-label", for: :request_end_date %>
  <div class="col-md-10">
    <%= f.date_field :request_end_date,
                    class: "form-control",
                    :validate => true
    %>
  </div>
</div>

<div class="form-group form-md-line-input">
  <%= f.label "Days Requested", class:"col-md-2 control-label", for: "daysRequested" %>
  <div class="col-md-10">
    <input name="daysRequested" type="text" readonly="true" value="0">
  </div>
</div>

<div class="form-group form-md-line-input">
  <%= f.label "Comments", class:"col-md-2 control-label", for: :comments %>
  <div class="col-md-10">
    <%= f.text_area :comments,
                     class: "form-control",
                     placeholder: "Enter Comments",
                     :validate => true
    %>
  </div>
</div>