<p id="notice"><%= notice %></p>

<h1>Listing Time Offs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @time_offs.each do |time_off| %>
      <tr>
        <td><%= link_to 'Show', time_off %></td>
        <td><%= link_to 'Edit', edit_time_off_path(time_off) %></td>
        <td><%= link_to 'Destroy', time_off, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Time off', new_time_off_path %>
